.pickicon-wrapper {
    width: 362px;
    height: 396px;
    padding: 15px;
    background: #f9f9f9;
    border: 1px solid #b7b7b7;
}
.pickicon-wrapper .pick-icon-icons {
    margin: 0 -1px;
    overflow-y: scroll;
    height: 370px;
}
.pickicon-wrapper .input-filter {
    width: 100%;
    margin-bottom: 0px;
}
.icon {
    padding: 10px;
    display: block;
    width: 19px;
    height: 19px;
    font-size: 19px;
    text-align: center;
    float: left;
    border: 1px solid #b9b9b9;
    margin: 1px;
    color: #333;
}
.icon.active{
    background: #333;
    color: #fff;
}