.pickicon-container{
    width: 320px;
    position: relative;
}
.pickicon-container input{
    width: 92%;
    border-radius: 0;
    height: 30px;
}
.pickicon-wrapper {
    width: 100%;
    height: 300px;
    padding: 15px;
    background: #f9f9f9;
    border: 1px solid #b7b7b7;
}
.pickicon-wrapper .pick-icon-icons {
    margin: 15px -1px;
    overflow-y: scroll;
    height: 225px;
}
.pickicon-wrapper .input-filter {
    width: 100%;
    margin-bottom: 0px;
}
.pickicon-wrapper .icon {
    padding: 10px;
    display: block;
    width: 43px;
    height: 43px;
    font-size: 19px;
    text-align: center;
    float: left;
    border: 1px solid #b9b9b9;
    margin: 1px;
    color: #333;
}
.pickicon-container > .icon {
    position: absolute;
    background: #f9f9f9;
    width: 30px;
    height: 30px;
    border: 1px solid #b7b7b7;
    text-align: center;
    color: #333;
    padding: 3px;
    font-size: 16px;
    right: 0;
}
.pickicon-wrapper .icon.active{
    background: #333;
    color: #fff;
}
.pickicon-wrapper a.btn-close {
    position: absolute;
    background: #f1f1f1;
    width: 30px;
    height: 30px;
    display: block;
    right: 0;
    top: 0;
}